asgiref==3.6.0
async-timeout==4.0.3
certifi==2023.5.7
charset-normalizer==3.1.0
crc==5.0.0
Django==4.1.5
django-cors-headers==4.0.0
django-ipware==5.0.2
django-redis==5.4.0
djangorestframework==3.14.0
greenlet==2.0.2
hiredis==2.2.3
idna==3.4
minio==7.1.15
numpy==1.24.3
ordered-set==4.1.0
pandas==2.0.2
psycopg2-binary==2.9.5
PyLaTeX==1.4.1
python-dateutil==2.8.2
python-dotenv==1.0.0
python-redis==0.4.0
pytz==2022.7.1
redis==5.0.0
requests==2.31.0
six==1.16.0
SQLAlchemy==1.4.47
sqlparse==0.4.3
typing_extensions==4.6.3
tzdata==2022.7
urllib3==2.0.3
